In [29]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
mort_afford_to_load = "Data_files/TieredAffordability_Mortgage.csv"
mort_afford = pd.read_csv(mort_afford_to_load)

rent_afford_to_load = 'Data_files/TieredAffordability_Rental.csv'
rent_afford = pd.read_csv(rent_afford_to_load)

In [46]:
rent_afford.head()

,RegionID,ZRITier,RegionName,2010-12-31,2011-03-31,2011-06-30,2011-09-30,2011-12-31,2012-03-31,2012-06-30,...,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30
0,102001,Bottom Tier,United States,0.652717,0.642292,0.636818,0.637966,0.622921,0.616089,0.618000,...,0.601358,0.612000,0.620875,0.608893,0.615914,0.628711,0.630874,0.627220,0.623608,0.627481
1,102001,Middle Tier,United States,0.300364,0.299217,0.298186,0.296529,0.295342,0.294612,0.293842,...,0.295362,0.296729,0.296263,0.292862,0.294303,0.294244,0.290997,0.289135,0.288341,0.289388
2,102001,Upper Tier,United States,0.195984,0.192701,0.192000,0.193108,0.190775,0.188988,0.189684,...,0.188393,0.191290,0.195915,0.194583,0.194088,0.198188,0.201272,0.200694,0.199547,0.202656
3,394347,Bottom Tier,"Atlanta, GA",0.578560,0.566008,0.559375,0.554845,0.544898,0.535758,0.532200,...,0.481055,0.483130,0.486472,0.476886,0.481763,0.487092,0.485775,0.484976,0.486689,0.492366
4,394347,Middle Tier,"Atlanta, GA",0.263027,0.261335,0.260692,0.257331,0.255089,0.253144,0.252605,...,0.253353,0.254862,0.254983,0.251286,0.252388,0.252022,0.250926,0.252381,0.252633,0.254391

In [ ]:
mort_bottom = mort_afford.loc[mort_afford["tier"] == 'Bottom Tier']

mort_middle = mort_afford.loc[mort_afford["tier"] == 'Middle Tier']

mort_upper = mort_afford.loc[mort_afford["tier"] == 'Upper Tier']

In [48]:
rent_bottom = rent_afford.loc[rent_afford["ZRITier"] == 'Bottom Tier']
rent_middle = rent_afford.loc[rent_afford["ZRITier"] == 'Middle Tier']
rent_upper = rent_afford.loc[rent_afford["ZRITier"] == 'Upper Tier']

In [49]:
rent_bottom.head()

,RegionID,ZRITier,RegionName,2010-12-31,2011-03-31,2011-06-30,2011-09-30,2011-12-31,2012-03-31,2012-06-30,...,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30
0,102001,Bottom Tier,United States,0.652717,0.642292,0.636818,0.637966,0.622921,0.616089,0.618000,...,0.601358,0.612000,0.620875,0.608893,0.615914,0.628711,0.630874,0.627220,0.623608,0.627481
3,394347,Bottom Tier,"Atlanta, GA",0.578560,0.566008,0.559375,0.554845,0.544898,0.535758,0.532200,...,0.481055,0.483130,0.486472,0.476886,0.481763,0.487092,0.485775,0.484976,0.486689,0.492366
6,394355,Bottom Tier,"Austin, TX",0.612692,0.608836,0.617465,0.614906,0.594771,0.578723,0.580299,...,0.608425,0.609851,0.620011,0.614566,0.618421,0.623542,0.625562,0.621506,0.614920,0.614817
9,394358,Bottom Tier,"Baltimore, MD",0.663172,0.665119,0.670270,0.663545,0.647947,0.638426,0.637922,...,0.628055,0.636522,0.640269,0.628037,0.630392,0.629941,0.619824,0.613488,0.603582,0.601937
12,394404,Bottom Tier,"Boston, MA",0.809714,0.789859,0.775556,0.791203,0.779320,0.773064,0.792533,...,0.777485,0.806190,0.834990,0.820629,0.817663,0.831473,0.840499,0.836551,0.822594,0.829698